<div class="container-mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="h2 text-center mt-3 mb-3 bg-light"><i class="fas fa-stethoscope mr-2"></i>Add Health and Safety Data</div>
        <form #healthform=ngForm>
            <div class="form-row">
                <div class="form-group col" >
                    <label for="inventory">Inventory ID</label>
                    <input type="text" name="inventoryid" class="form-control"  placeholder="inventory" required>
                </div>
                <div class="form-group col">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control"  placeholder="Enter name" required>
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col">
                <label for="Unit">Unit</label>
                <input type="number" name="unit" class="form-control" placeholder="Enter unit" >
            </div>
            <div class="form-group col">
                <label for="unit price">Unit Price</label>
                <input type="number" name="unitprice" class="form-control"  placeholder="Enter Unit Price">
            </div>
            <div class="form-group col">
                <label for="quantity">Quantity in Stock</label>
                <input type="number" name="quantity" class="form-control"  placeholder="Enter Quantity">
            </div>
         </div>
         <div class="form-row">
            <div class="form-group col">
                <label for="Inventory value">Inventory Value</label>
                <input type="number" name="inventoryvalue" class="form-control" placeholder="Enter Inventory value" >
            </div>
            <div class="form-group col">
                <label for="unit price">Reorder Level</label>
                <input type="number" name="reorderlevel" class="form-control"  placeholder="Enter Reorder Level">
            </div>
            <div class="form-group col">
                <label for="quantity">Reorder Time in Days</label>
                <input type="number" name="reordertime" class="form-control"  placeholder="Enter Reorder Time in Days">
            </div>
         </div>
        
            <div class="form-group " >
                <label for="inventory">Quantity in Reorder</label>
                <input type="number" name="quantityinreorder" class="form-control"  placeholder="Quantity in Reorder" >
            </div>
        
            <div class="form-group ">
                <label for="name">Discontinued</label>
                <input type="text" name="discontinued" class="form-control"  placeholder="Discontinued ??" >
            
        </div>
                <button type="submit" class="btn btn-info" routerLink='/category'>
                <i class="far fa-arrow-alt-circle-left mr-3"></i>Back</button>
                <button type="submit" class="btn btn-primary float-right" [disabled]='!healthform.valid'>
                <i class="fas fa-external-link-alt mr-2"></i>Add</button>
        </form>
    </div>
</div>
